body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 15pt;
	background: #fafafa;
	color: #555555;
}

.centered {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    width: 100%;
}

.content-line {
    text-align: center;
}

img {
    height: 15vh;
    padding: 5vh;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
